nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(7, 7, 168);
  color: aliceblue;
  height: $navbar-height;
  z-index: 10;
  h3 {
    display: flex;
    justify-content: center;
    flex-basis: 25%;
  }
  .nav-links {
    flex-basis: 75%;
    display: flex;
    justify-content: space-around;
  }
  a {
    color: aliceblue;
  }
}
