nav {
  display: flex;
  align-items: center;
  background-color: rgb(7, 7, 168);
  color: aliceblue;
  height: 120px;
  h3 {
    display: flex;
    justify-content: center;
    flex-basis: 25%;
  }
  .nav-links {
    flex-basis: 75%;
    display: flex;
    justify-content: space-around;
  }
  a {
    color: aliceblue;
  }
}
